
    .destinationSearch-bg-container{
      display: flex;
      flex-direction: column;
      justify-content: start;
      align-items: center;
      height: auto;
      min-width: 60vw;
      min-height: 50vh;
    }
    .destinationSearch-main-heading {
      font-family: 'Times New Roman', Times, serif;
      font-size: 3.2rem;
      text-align: center;
    }
    .inputSearch-bar {
      padding: 10px;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      background-color: #f1f5f9;
      width: auto;
      min-width: 60%;
      height: 40px;
      border-radius: 10px;
    }
    .input-bar {
      outline: none;
      border: none;
      padding: 20px;
      height: 50px;
      width: auto;
      background-color: #f1f5f9;
      font-size: 20px;
      font-family: Roboto;
    }
    .search-icon {
      height: 30px;
      width: 30px;
    }
    
    .items-container {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      margin-top: 30px;
      width: auto;
      height: auto;
      padding: 20px;
    }
    .nothing-toe-show-text {
      text-align: center;
      font-size: 1rem;
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      color: #604b31;
    }