.GoogleSuggestions-bg-container {
      background-color: white;
      height: auto;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 100vh;
      padding: 50px;
    }
    .GoogleSuggestions-inner-container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
    .google-img {
      height: 15vh;
      width: 50vh;
    }
    .suggestions-container {
      margin-top: 30px;
      height: auto;
      width: 80vh;
      padding-left: 15px;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
      border-radius: 18px;
      box-shadow: 0px 4px 16px 0px #bfbfbf;
      background-color: white;
    }
    .search-bar-container {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;
      width: 100%;
      background-color: white;
    }
    .search-icon-img {
      height: 30px;
      width: 30px;
    }
    .GoogleSuggestions-input-search-bar {
      padding: 15px;
      background-color: white;
      outline: none;
      border: none;
      font-size: 1.6rem;
      font-family: Roboto;
      width: 100%;
      color: #64748b;
    }
    .suggestions-list {
      padding: 0px;
    }
    