.history-item {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      align-items: center;
      width: 100%;
      padding: 15px;
    }
    .website-details-container {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;
      width: 80%;
    }
    .history-section-time {
      color: #64748b;
      font-size: 1.2rem;
      font-weight: bold;
    }
    .company-logo {
      margin-right: 10px;
    }
    .company-title {
      margin-right: 10px;
      color: #475569;
      font-size: 1.2rem;
      font-weight: bold;
    }
    .company-domain-url {
      color: #475569;
      font-size: 1rem;
    }
    